/*公共头部*/
.w {
    width: 1220px;
    margin: 0 auto;
}


/*顶部框*/
.top {
    width: 100%;
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}
.top li {
    float: left;
}
/*顶部左边*/
.top-left {
    float: left;
}
.top .top-left li {
    padding: 0 7px;
}
/*请注册颜色*/
.style_red {
    color: #c81623;
}
/*顶部右边*/
.top-right {
    float: right;
}
.top .top-right li a {
    padding: 0 14px;
    border-right: 1px #ccc solid;
}


/*   购物车标志符号*/
@font-face{
    font-family: 'iconfont';
    src: url('fonts/icomoon.eot?7kkyc2');
    src: url('fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('fonts/icomoon.woff?7kkyc2') format('woff'),
    url('fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*公共头部*/
.header {
    height: 105px;
    /* background-color: pink; */
    position: relative;
}
.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 275px;
    height: 56px;
}

/*搜索框部分*/
.search {
    position: absolute;
    top: 25px;
    left: 348px;
    overflow: hidden;
}
.search input[type="text"] {
    width: 400px;
    height: 32px;
    border: 2px #b1191a solid;
    color: #ccc;
    padding-left: 10px;
    float: left;
}
.search button {
    height: 32px;
    width: 82px;
    background-color: #b1191a;
    border: 0;
    float: left;
    color: #fff;
}

/*头部搜索下的9个词*/
.words {
    position: relative;
    top: 65px;
    left: 350px;
    height: auto;
    width: 500px;
    overflow: hidden;
}

/*词之间的间隔*/
.words li {
    padding: 0 7px;
    float: left;
}
/*头部购物车*/
.shopcar {
    height: 34px;
    line-height: 34px;
    width: 138px;
    position: absolute;
    top: 25px;
    right: 30px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    text-align: center;
}

/*购物车标志部分*/
.shopcar::before{
    content: '\e93a';
    font-family: 'iconfont';
    margin-right: 5px;
    color: #b1191a;
}

.shopcar .car {
    position: absolute;
    padding: 0 7px;
    width: 40px;
    height: 30px;
    margin-left: -40px;
    background-position: 160px -81px;
}

.shopcar .iconfont:first-child {
    color: red;
}
.shopcar .count {
    position: absolute;
    top: -5px;
    left: 100px;
    color: #fff;
    background-color: #e60012;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    border-radius: 7px 7px 7px 0;
}


/*只要9.9部分*/
.only {
    height: 34px;
    line-height: 34px;
    position: relative;
    right: 180px;
    top: 25px;
    text-align: center;
}
.only .only-right {
    position: absolute;
    top: 5px;
    float: right;
    right: 85px;
    color: #fff;
    background-color: #B1191A;
    width: 70px;
    height: 14px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
}

/*全部商品分类栏*/
.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    width: 209px;
    height: 45px;
    background-color: pink;
}
.dropdown .menu-top {
    width: 100%;
    height: 100%;
    background-color: #b1191a;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 45px;
}
.dropdown .menu-list {
    margin-top: 2px;
    height: 465px;
    background-color: #c81623;
}

.menu {
    height: 31px;
    line-height: 31px;
    color: #fff;
    margin-left: 1px;
    padding: 0 10px;
}
.menu a {
    font-size: 14px;
    color: #fff;
}
.menu span {
    float: right;
}
.menu:hover {
    background-color: #fff;
}
.menu:hover a {
    color: #b1191a;
}
.navitems {
    margin-left: 50px;
}
.fl {
    float: left;
}

.navitems li {
    text-align: center;
    float: left;
}
.navitems li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
}


/*公共底部*/
.copy{
    width: 1200px;
    height: 100px;
    border-bottom: 1px solid #ccc ;
}
.copy li{
    width: 240px;
    height: 79px;
    float: left;
}
.copy_tu{
    float: left;
    margin-left: 35px;
    height: 50px;
    width: 50px;
}
.copy_bao{
    background: url("images/icons.png") repeat -252px -3px;
}
.copy_title {
    float: left;
    margin-left: 5px;
}
.copy_title h5{
    margin: 5px 0;
}
.copy_title p{

}

.footer {
    height: 418px;
    background-color: #F5F5F5;
    padding-top: 30px;
}
.footer .links {
    float: right;
    width: 1200px;
    height: 200px;
    text-align: left;
}
.footer .links dl {
    width: 200px;
    float: left;
    box-sizing: border-box;
    padding-left: 61px;
}
.footer .links dl dt {
    font-size: 16px;
    font-weight: 700;
    color: #7d7d7d;
    padding: 21px 0 13px;
}
.footer .links a  {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}